apiVersion: apps/v1
kind: Deployment
metadata:
  namespace: project
  name: todo-backend-dep
spec:
  replicas: 1
  selector:
    matchLabels:
      app: todo-backend
  template:
    metadata:
      labels:
        app: todo-backend
    spec:
      containers:
        - name: todo-backend
          image: ronaldidro/todo-backend
          env:
            - name: BACKEND_PORT
              valueFrom:
                configMapKeyRef:
                  name: todo-config
                  key: BACKEND_PORT
