<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>The Project App</title>
  </head>
  <body>
    <main>
      <div>
        <h1>The Project App</h1>
        <img src="/image" alt="Kubeapp" width="300" />
        <form action="/todos" method="post">
          <input
            type="text"
            id="description"
            name="description"
            maxlength="140"
            required
          />
          <button type="submit">Create todo</button>
        </form>
        <h2>Todo</h2>
        <ul>
          <% pending.forEach(todo => { %>
          <li>
            <%= todo.description %>
            <form
              action="/todos/<%= todo.id %>"
              method="post"
              style="display: inline"
            >
              <input type="hidden" name="_method" value="patch" />
              <button type="submit">Mark as done</button>
            </form>
          </li>
          <% }); %>
        </ul>
        <h2>Done</h2>
        <ul>
          <% done.forEach(todo => { %>
          <li><%= todo.description %></li>
          <% }); %>
        </ul>
        <p>
          <a
            href="https://courses.mooc.fi/org/uh-cs/courses/devops-with-kubernetes"
            target="_blank"
          >
            DevOps with Kubernetes 2025
          </a>
          University of Helsinki
        </p>
      </div>
    </main>
  </body>
</html>
