<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>The Project App</title>
  </head>
  <body>
    <main>
      <div>
        <h1>The Project App</h1>
        <img src="/image" alt="Kubeapp" width="300" />
        <form action="/todos" method="post">
          <input
            type="text"
            id="description"
            name="description"
            maxlength="140"
            required
          />
          <button type="submit">Create todo</button>
        </form>
        <ul>
          <% todos.forEach(todo => { %>
          <li><%= todo.description %></li>
          <% }); %>
        </ul>
        <p>DevOps with Kubernetes 2025</p>
      </div>
    </main>
  </body>
</html>
