apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  namespace: exercises
  name: log-claim
spec:
  storageClassName: my-log-pv
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 1Gi
