apiVersion: apps/v1
kind: Deployment
metadata:
  namespace: project
  name: todo-app-dep
spec:
  replicas: 1
  selector:
    matchLabels:
      app: todo-app
  template:
    metadata:
      labels:
        app: todo-app
    spec:
      volumes:
        - name: todo-volume
          persistentVolumeClaim:
            claimName: todo-claim
      containers:
        - name: todo-app
          image: ronaldidro/todo-app
          env:
            - name: APP_PORT
              valueFrom:
                configMapKeyRef:
                  name: todo-config
                  key: APP_PORT
            - name: PICSUM_URL
              valueFrom:
                configMapKeyRef:
                  name: todo-config
                  key: PICSUM_URL
            - name: BACKEND_SERVICE_URL
              valueFrom:
                configMapKeyRef:
                  name: todo-config
                  key: BACKEND_SERVICE_URL
          volumeMounts:
            - name: todo-volume
              mountPath: /usr/src/app/files
