name: Build and publish log-output

on:
  push:
    paths:
      - "log_output/**"

jobs:
  build-publish:
    name: Build, Push, Release
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and publish
        run: |
          docker build -t ronaldidro/log-output:${GITHUB_SHA} log_output/
          docker push ronaldidro/log-output:${GITHUB_SHA}

      - name: Setup Kustomize
        uses: imranismail/setup-kustomize@v2

      - name: Use right image
        run: |
          cd log_output/manifests
          kustomize edit set image PROJECT/READER=ronaldidro/log-output:${GITHUB_SHA}

      - name: Commit kustomization.yaml to GitHub
        uses: EndBug/add-and-commit@v9
        with:
          add: "log_output/manifests/kustomization.yaml"
          message: New version released ${{ github.sha }}
